navbar {
font-family: 'Dancing Script', cursive;

}

body{
     background-image: url("https://abrilexame.files.wordpress.com/2016/10/tac3a7a-de-vinho.jpg"); 
     background-repeat: no-repeat;
     background-size: cover; 
     color: white;

}

body h1{
	font-size: 23px;
	font-weight: bold;
	background-color: transparent;
	color: black;
	letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(247, 247, 247, 0.7);
    padding: 20px;  

	}

body p{
	font-size: 14px;
	font-weight: ; 
	font-family: Verdana;
	color: black;
	letter-spacing: 1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(247, 247, 247, 0.7);
    padding: 20px; 
    background-size: cover;
   
}

strong {
	font-family: Verdana;
	font-size: 12px;
	color: white;
	font-weight: bold;
	background-size: cover;

}	
div.footer {
    width:100%; 
    position:fixed; 
    left 0px; 
    bottom:0px;
   
}

div.footer a{ 
	font-family: verdana;
	font-size: 10px;
}